@forward "components/styles/courseGoal.scss";
@forward "components/styles/header.scss";
@forward "components/styles/newGoal.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: hsl(0, 0%, 22%);
  background-color: #c8c8c8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: min(800px, 100vw - 20px);
  background: hsl(0, 0%, 13%);
  color: hsl(0, 0%, 85%);
  border-radius: 4px;
  margin-top: 32px;
  padding: 40px 32px;
  box-shadow: 8px 8px 16px hsla(0, 0%, 0%, 0.438);
}

.goals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
