.card {
  &__content {
    &__title,
    &__description {
      text-transform: uppercase;
      margin-block: 8px;
    }

    &__title {
      margin-block-start: 0;
    }
  }

  &__button {
    padding: 4px 12px;
  }
}
